@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    <strong>Email:</strong>   <a href="https://mail.google.com/mail/?view=cm&fs=1&to=amysha.dixon@gmail.com" target="_blank">amysha.dixon@gmail.com</a><br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/amyshadixon" target="_blank">AmyshaDixon</a> <br />
    <strong>Telegram:</strong> <a href="https://t.me/AmyshaDixon" target="_blank"> AmyshaDixon </a>
</address>