@{
    ViewBag.Title = "Index";
}

<<p> ** Page is under construction! ** </p>

<!-- Example Code: -->
@Ajax.ActionLink("About", "About", new AjaxOptions { UpdateTargetId = "1", InsertionMode = InsertionMode.Replace })

<div id="1">

</div>

