<h1> Resume </h1>
<br/>

<h2> OVERVIEW </h2> 
<p> Current programming student looking to work in a collaborative and cross-functional 
    environment that fosters learning and opportunity for growth. </p>
<br/>

<h2> EDUCATION </h2> 
<h3> Clover Park Technical College </h3> 
<p> <i> March 2019 | Associates in Applied Technology </i> </p> 
<ul>
    <li> Specialization in Java and C# </li>
    <li> Proficiency in HTML, CSS, and JavaScript </li>
    <li> Attending with an average 4.0 GPA </li>
</ul>
<br/> 

<h3> Western Washington University </h3>
<p> <i> August 2015 | Bachelors in Psychology  </i> </p> 
<ul>
    <li> Specialization in abnormal psychology </li> 
    <li> Understanding of research methodology and application </li> 
    <li> Graduation with an average 3.02 GPA </li>
</ul>
<br/>

<h2> EXPERIENCE </h2>
<h3> Green PC </h3>
<p> <i> <strong> Repair Tech </strong> | August 2018 – Present  </i> </p>
<ul> 
    <li> To repair laptops for refurbishing and sales  </li>
    <li> Update hardware and software of outdated products </li>
    <li> Retain knowledge of common driver errors and potential solutions </li>
    <li> To disassemble inadequate technology for separate part utilization </li>
 </ul>
<br/>

<h3> Greater Lakes Mental Healthcare </h3>
<p> <i> <strong> Peer Case Manager 1 </strong> | August 2015 – September 2016  </i> </p>
<ul> 
    <li> To provide peer counseling and active community resources to clients </li>
    <li> Oversee and organize lesson plans for support groups </li>
    <li> Assist clients with treatment plan goals and individual needs  </li>
    <li> Manage general client group sessions and assigned therapists </li>
</ul>
<br/> 

<h2> COMPETENCIES </h2>
<p> HTML | CSS | C# | Java | SQL | JavaScript | TypeScript | Python | GitHub | Git | Slack |  
    Digital Illustration | Adobe Photoshop | Chinese | Japanese |Team Management </p>

